<div>
  @if (isLoading()) {
    <div class="flex justify-center items-center min-w-[200px] h-[200px]">
      <p class="text-center">Cargando cuentas...</p>
    </div>
  } @else if (error()) {
    <div class="flex justify-center items-center min-w-[200px] h-[200px]">
      <p class="text-center text-red-500">Error: No se pudo cargar las cuentas</p>
    </div>
  } @else {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      @for (account of accounts(); track account.id) {
        <app-account-card [account]="account"></app-account-card>
      }
      @empty {
        <p>No accounts found.</p>
      }
    </div>
  }
</div>
