<form [formGroup]="transactionForm" class="p-4 md:p-5">
  <div class="grid gap-4 mb-4 grid-cols-2">
    <div class="col-span-2">
      <label for="type" class="block mb-2 text-sm font-medium text-gray-900"
        >Tipo de Transacción</label
      >
      <select
        id="type"
        formControlName="type"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
        <option [value]="TransactionType.DEPOSIT">Depósito</option>
        <option [value]="TransactionType.WITHDRAWAL">Retiro</option>
      </select>
      @if(transactionForm.get('type')?.invalid &&
      transactionForm.get('type')?.touched) {
      <div class="text-red-500 text-xs mt-1">
        Tipo de transacción es requerido.
      </div>
      }
    </div>
    <div class="col-span-2">
      <label for="amount" class="block mb-2 text-sm font-medium text-gray-900"
        >Monto</label
      >
      <input
        type="text"
        id="amount"
        formControlName="amount"
        appCurrencyFormatter
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Ej: 100.000.00"
        required
      />
      @if (transactionForm.get('amount')?.invalid &&
      transactionForm.get('amount')?.touched) {
      <div class="text-red-500 text-xs mt-1">
        Monto es requerido y debe ser mayor a 0.
      </div>
      }
    </div>
  </div>
  <button
    (click)="onSubmit()"
    class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 cursor-pointer"
  >
    Agregar Transacción
  </button>
</form>
