<form class="w-xs" (ngSubmit)="onSubmit()">
  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
      >Your email</label
    >
    <input
      [value]="username()"
      type="email"
      id="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder="name@flowbite.com"
      required
      [(ngModel)]="username"
      name="username"
    />
  </div>
  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900"
      >Your password</label
    >
    <input
      [value]="password()"
      type="password"
      id="password"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required
      [(ngModel)]="password"
      name="password"
    />
  </div>
  <div class="flex justify-center mt-4">
    <button
      type="submit"
      class="px-4 w-full py-3 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 cursor-pointer"
    >
      Ingresar
    </button>
  </div>
</form>
